@tealColor: teal;
@centerAlign: center;
@indexAFontSize: 45px;

// GENERIC STYLES
body { padding-top: 70px; }
a {
  color: @tealColor;
}

.index {
    a:link { font-size:@indexAFontSize; color: @tealColor; text-align: @centerAlign; text-decoration: none;}
    a:visited { color: @tealColor; border-bottom: 1px}
    a:hover { color: palegreen; border-bottom: 1px;}
    h2 { font-size: 100px; color: @tealColor; text-align: @centerAlign;}
    ul { list-style: none; text-align: @centerAlign;}
}

.navbar-brand.rightbar.li {
  li{position: absolute; right: 22px;}
}