<web-app>
	   
	<servlet>
		<servlet-name>biggertime</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>biggertime</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:com/bt/applicationContext.xml
        </param-value>
    </context-param>

	<welcome-file-list>
		<welcome-file>/WEB-INF/view/index/index.jsp</welcome-file>
	</welcome-file-list>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

</web-app>